<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inbox">
      <ion-icon name="chatbubble"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon name="people-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feed" class="button-center">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge mode="ios" color="danger">20</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
